/temp
/data
/log
/.idea
build/
/cs

saplicense.properties
installedSaplicenses.properties

/bin/custom/backofficeExtension/**
/backoffice/classes

.gradle
*.iml
*.eml
.idea
*.class
**/gensrc/*
**/local.properties
**/eclipsebin/*
**/out/*
**/build/*
/bin/custom/**/resources/**/*testclasses.xml
/bin/custom/**/build.xml
/bin/custom/**/extensioninfo.xsd
/bin/custom/**/platformhome.properties
/bin/custom/**/resources/beans.xsd
/bin/custom/**/resources/items.xsd
/bin/custom/**/hmc/resources/hmc.xsd
/bin/custom/**/hmc/bin/*hmc.jar


/bin/custom/**/*_hac.jar
/bin/custom/**/hac/classes/*
nohup.out
/bin/platform/ext/**/lib/*
*.build.number
*-testclasses.xml


build.xml
extensioninfo.xsd
platformhome.properties
gensrc
eclipsebin
classes
collatesort.iml
ruleset.xml

# gradle
dependencies.gradle
.gradle
gradle
gradlew
gradlew.bat
build.gradle
settings.gradle
gradle.properties
